* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

body {
    display: flex;
    height: 100vh;
    background-color: #FCFCFC;
}

button {
    background-color: #440381   ;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

button:hover, button:focus-visible {
    background-color: #54049F;
}

.side-bar {
    width: 15em;
    background-color: #ffedeb;
    border-right: black solid 2px;
    flex: 0 0 auto;
}

.groups {
    padding: 10px 20px;
}

#todo-list {
    padding: 10px 20px;
}

.group, .task {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.group.selected {
    background-color: #FCFCFC;
    box-shadow: 0 0 3px black;
}

*:focus-visible {
    outline: 3px solid rgb(9, 127, 227, 0.5);
    border-color: rgb(7, 84, 151);
}

.tool-bar {
    padding: 10px 20px;
    border-bottom: black solid 2px;
    display: flex;
}

#tasks-tool-bar {
    justify-content: flex-end;
}

.content {
    display: flex;    
    flex-direction: column;
    width: 100%;
}

.task-left-side {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.task.finished {
    background-color: #2DF06E;
    /* color: whi   te; */
}

.task.failed {

}

@media (max-width: 500px) {
    .side-bar {
        
    }
}