* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

body {
    display: flex;
    height: 100vh;
    background-color: #FFF2EB;
}

button {
    background-color: #27547C   ;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

button:hover, button:focus-visible   {
    background-color: #3772A9;
}

.side-bar {
    width: 20em;
    background-color: #FFD7C2;
    box-shadow: 0px 0px 8px ;
    flex: 0 0 auto;
}

.groups {
    padding: 10px 20px;
}

.group, .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.group {
    background-color: #FFF2EB;
}

.group.selected {
    background-color: #FCFCFC;
    box-shadow: 0 0 3px black;
}

*:focus-visible, .group:hover {
    outline: 3px solid rgb(9, 127, 227, 0.5);
    border-color: rgb(7, 84, 151);
}


.tool-bar {
    padding: 10px 0px;
    display: flex;
}

#groups-tool-bar {
    border-bottom: 2px solid black;
    padding-left: 20px;
}

#tasks-tool-bar {
    justify-content: space-between;
}

.content {
    display: flex;    
    flex-direction: column;
    width: 100%;
    padding: 0 80px;
}

.task {
    background-color: #FFF;
}

.task-left-side {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.task-right-side {
    display: flex;
    align-items: center;
}

.task label {
    padding: 4px 10px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.task label:hover {
    background-color: #eee;
}

.task.finished {
    background-color: #0FD250;
    /* color: whi   te; */
}

.task.failed {

}

.side-bar.hidden {
    display: none;
}

@media (max-width: 500px) {

}