* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

body {
    display: flex;
    height: 100vh;
}

button {
    /* background-color: white; */
    padding: 2px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.side-bar {
    width: 15em;
    background-color: antiquewhite;
    padding: 10px 20px;
    flex: 0 0 auto;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.group-selected {
    background-color: white;
    box-shadow: 0 0 3px black;
}

*:focus-visible {
    outline: 3px solid rgb(9, 127, 227, 0.5);
    border-color: rgb(7, 84, 151);
}

.tool-bar {
    padding: 10px 20px;
    border-bottom: black solid 2px;
}

.content {
    display: flex;    
    flex-direction: column;
    width: 100%;
}